In [1]:
import matplotlib.pyplot as plt 
import metapack as mp
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
import metapack as mp
pkg = mp.open_package('http://library.metatab.org/sandiegodata.org-tides_rain_river-6.zip')

In [3]:
pkg

In [4]:
pkg.resource('tides_river_rain')

In [5]:
df = pkg.resource('tides_river_rain').read_csv(parse_dates=True)

In [7]:
df.head()

,date,discharge_rate,recent_total_discharge,recent_max_discharge,dailyprecip,recent_precip,wl_max,wl_min
0,1988-01-01,22.0,22.0,22.0,NaN,NaN,NaN,NaN
1,1988-01-02,20.0,42.0,42.0,NaN,NaN,NaN,NaN
2,1988-01-03,18.0,60.0,60.0,NaN,NaN,NaN,NaN
3,1988-01-04,18.0,56.0,60.0,NaN,NaN,NaN,NaN
4,1988-01-05,21.0,57.0,60.0,NaN,NaN,NaN,NaN

In [17]:
df.head().T

,0,1,2,3,4
date,1988-01-01 00:00:00,1988-01-02 00:00:00,1988-01-03 00:00:00,1988-01-04 00:00:00,1988-01-05 00:00:00
discharge_rate,22,20,18,18,21
recent_total_discharge,22,42,60,56,57
recent_max_discharge,22,42,60,60,60
dailyprecip,NaN,NaN,NaN,NaN,NaN
recent_precip,NaN,NaN,NaN,NaN,NaN
wl_max,NaN,NaN,NaN,NaN,NaN
wl_min,NaN,NaN,NaN,NaN,NaN

In [24]:
df[df['wl_max'] > 2].mean()

discharge_rate             27.773071
recent_total_discharge     82.597306
recent_max_discharge      110.457640
dailyprecip                 0.024497
recent_precip               0.074003
wl_max                      5.460670
wl_min                      1.899977
dtype: float64